/* ! Reset */
body,
html {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0 0 1rem 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

img {
  height: auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

a {
  text-decoration: none;
}

:root {
  background-color: rgb(158, 176, 197);
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* full section of main games */
.mainGamesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding-left: 20vw;
  padding-right: 20vw;
}

/* main games title */
.mainGamesHeader {
  margin-top: 40px;
  margin-bottom: 24px;
  font-size: 1.5em;
  display: flex;
  text-align: center;
  box-sizing: border-box;
}

/* main games container*/
.layoutImages {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px
    /* padding-left: 50px;
  padding-right: 50px; */
}

/* container of image and logo */
.imageContainer {
  padding: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.background {
  box-sizing: border-box;
  display: flex;
  width: 300px;
  height: 300px;
  position: absolute;
}

.background:hover {
  filter: blur(1px);
}

.logoOver {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
}

.gameNews {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  transition: all 0.1s ease;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  position: relative;
}

.gameNews:hover {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
}

@media screen and (max-width:1650px) {
  .layoutImages {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width:1200px) {
  .layoutImages {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .gameNews {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mainGamesHeader {
    font-size: 1.2em;
  }

}