/* ! Reset */
:root {
  /* colors */
  --primary-color: #f3f3f3;
  --coral-color: #fb4646;
  --hover-button-color: #dedede;
  --font-color: #161616;

  /* buttons */
  --border-button: 2px solid;
  --border-radius-button: 3px;

  /* font */
  --primary-font: "Electronic Arts Text", "Inter", "Helvetica", "Arial",
    sans-serif;
  --title-font: "Electronic Arts Display", "Inter", "Helvetica", "Arial",
    sans-serif;
  --primary-line-height: 1.7em;

  & .btn-cta {
    font-size: 18px;
    position: relative;
    padding: 12px 24px;
    text-align: center;
  }

  & .btn-cta::before {
    border: var(--border-button);
    border-radius: var(--border-radius-button);
    transition: 100ms;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }

  & .btn-cta:hover::before {
    bottom: -3px;
    left: -3px;
    right: -3px;
    top: -3px;
    transition: 100ms;
  }
}

@font-face {
  font-family: "Electronic Display";
  src: url(fonts/electronic_arts_display_by_02020jetixbr_df4nsio.otf);
}

@font-face {
  font-family: "Electronic Arts Text";
  src: url("https://db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot");
  src: url("https://db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/48656eabd3fef6464367d956315c749a.svg#Electronic Arts Text")
      format("svg");
}

body,
html {
  font-family: var(--primary-font);
  line-height: var(---primary-line-height);
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Electronic Display";
}

ol,
ul {
  list-style-type: none;
}

img {
  height: auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

a {
  text-decoration: none;
}

/* Jumbotron Styling */

.jumbotron-main {
  height: 50vh;
  background-color: black;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: url(assets/bf-2042-s5-mse-section-hero-video-xl.mp4);
}

.jumbotron-main video {
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#bf2042-background {
  display: none;
}

.video-l video,
.video-m video,
.video-s video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1.2s;
  animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
}

.overlay-content img {
  width: 720px;
}

.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  gap: 10px;
}

.bf-2042-h6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bf-2042-h6 h6 {
  width: 720px;
  color: white;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  letter-spacing: normal;
  line-height: 1.5;
}

.redirect-container {
  margin-top: 15px;
}

.redirect-container a {
  background-color: #f3f3f3;
  padding: 16px 24px;
  font-size: 18px;
  color: black;
  transition: all .1s;
}

#bf2042-redirect:hover {
  padding: 19px 27px;
}

/* full section of main games */
.games-featured {
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
}

.mainGamesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
}

/* main games title */
.mainGamesHeader {
  color: #161616;
  margin-top: 40px;
  font-size: 3.5em;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.15;
}

/* main games container*/
.layoutImages {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

/* container of image and logo */
.card-games {
  padding: 14px;
  position: relative;
  width: 33.33%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.image-box {
  padding-top: 100%;
  position: relative;

  & .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
  }
}

.image-box:hover {
  & .logo-main-games {
    transform: translate(-50%, -180%);
  }
}

.overlay-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: linear-gradient(83deg, #0d1042, #ff4747);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-gradient:hover {
  opacity: 0.9;
}

.logo-main-games {
  filter: drop-shadow(8px 7px 23px #000);
  font-size: 1.6rem;
  font-weight: 700;
  left: 50%;
  max-height: 20%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: .4s ease;
  width: 50%;
  color: white;
  text-align: center;
  z-index: 2;
  word-break: break-word;
}

#apex_legends_logo {
  width: 30%;
}

.official-site-a {
  position: absolute;
  width: 100%;
  height: 100%;
}

#official-site-span {
  color: white;
  font-size: 1em;
}

#games-cta {
  color: black;
  border: black;
  margin-top: 15px;
}

/* EA play section */
.section-play {
  position: relative;
}

.section-play picture img {
  display: block;
  width: 100%;
  max-height: 100%;
}

.hero-gradient {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 7.5vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  color: white;

  & p {
    line-height: var(--primary-line-height);
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.hero-content-cta {
  display: flex;
  width: 100%;

  & a {
    width: 100%;
    color: white;
  }
  & a::before {
    border: white;
  }
}

.subsection-play {
  width: 100%;
  height: auto;
  background-color: #6fb0d6;
  padding: 32px 7.5vw 16px 7.5vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}

.subsection-play-title h5 {
  line-height: 1.4em;
  font-size: 24px;
  margin-bottom: 15px;
  color: #161616;
}

.subsection-play-cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  & a {
    color: black;
  }
  & a::before {
    border: black;
  }
  & #btn-scopri {
    min-width: 148.65px;
  }
}

/* MediaQuery Jumbotron */
@media screen and (min-width: 1024px) and (max-width: 1456px) {
  .jumbotron-main {
    background-image: url(assets/bf-2042-s5-mse-hero-video-m.mp4);
  }

  .jumbotron-main video {
    display: none;
  }

  .video-l video {
    display: block;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .video-l video,
  .jumbotron-main video {
    display: none;
  }

  .video-m video {
    display: block;
    z-index: 2;
  }

  .jumbotron-main {
    background-image: url(assets/bf-2042-section-768w.jpg);
  }

  .overlay-content img {
    width: 55%;
  }

  & .overlay-content h6 {
    font-size: 15px;
    width: 55%;
  }
}

@media screen and (max-width: 425px) {
  .video-l video,
  .video-m video,
  .jumbotron-main video {
    display: none;
  }

  .jumbotron-main {
    height: 85vh;
    background-image: url(assets/bf-2042-section-bg-s5-mid-season-homepage-xl.jpg.adapt.320w.jpg);
  }

  .video-s video {
    display: block;
    z-index: 2;
  }

  .overlay-content img {
    width: 55%;
  }

  & .overlay-content h6 {
    font-size: 15px;
    width: 55%;
  }
}

/* media query mainGames section */

/* media query mainGames 4k */
@media screen and (max-width: 2560px) {
  .mainGamesContainer {
    max-width: 1120px;
    padding-left: 0%;
    padding-right: 0%;
  }

  .mainGamesHeader {
    display: block;
    font-size: 2.2em;
  }
}

/* media query mainGames 2k */
@media screen and (max-width: 1440px) {
  .mainGamesContainer {
    max-width: 100%;
    padding-left: 7vw;
    padding-right: 7vw;
  }

  .mainGamesHeader {
    font-size: 2.5em;
  }
}

/* media query mainGames laptop */
@media screen and (max-width: 1024px) {
  .mainGamesContainer {
    padding-left: 7vw;
    padding-right: 7vw;
  }

  .mainGamesHeader {
    font-size: 2.5em;
  }
}

/* media query mainGames tablet */
@media screen and (max-width: 1023px) {
  .mainGamesContainer {
    width: 100%;
  }

  .mainGamesHeader {
    font-size: 2.7em;
  }

  .card-games {
    width: 50%;
  }

  .logo-main-games {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .mainGamesHeader {
    font-size: 2em;
  }
}

/* media query mainGames mobile */
@media screen and (max-width: 767px) {
  .card-games {
    width: 100%;
  }

  .logo-main-games {
    width: 50%;
  }
}

/* media query mainGames 425px */
@media screen and (max-width: 425px) {
  .mainGamesContainer {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

/* media query mainGames button */
@media screen and (max-width: 639px) {
  #games-cta {
    width: 100%;
  }
}

/* ! Mediaquery Play section Tablet*/
@media (min-width: 768px) {
  .hero-content {
    height: auto;
    width: 40.625%;
    position: absolute;
    top: 50%;
    left: 7.8125vw;
    padding: 0px;
    transform: translate(0%, -50%);
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  .subsection-play {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content-cta a {
    width: auto;
  }

  .subsection-play-cta {
    width: 145px;
  }
}

/* ! Mediaquery Play section desktop */
@media (min-width: 1024px) {
  .subsection-play {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.4% 7.4218vw;
  }

  .subsection-play-title {
    text-align: left;
    max-width: 544px;
    & h5 {
      margin: 0;
    }
  }
}

/* ! Mediaquery Play section Laptop large */
@media (min-width: 1456px) {
  .hero-content {
    left: calc((100vw - 1120px) / 2);
    max-width: 544px;
  }

  .subsection-play {
    padding-left: calc((100vw - 1120px) / 2);
    padding-right: calc((100vw - 1120px) / 2);
  }

  .subsection-play-title h5 {
    font-size: 26px;
  }
  
  .btn-cta {
    padding: 20px 24px !important;
  }
}
